@import "normalize";



// ----------------------BASE STYLES-----------------------
html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade {
    opacity: 0.3;
    transition: 0.8s;
}

.unfade {
    opacity: 1;
    transition: 1s;
}

.hide {
    display: none;
}

.red {
    color: red;
}

.purple {
    color: rebeccapurple;
}

.no-result {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: #00008B;
    text-align: center;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    bottom: 55%;
}

// --------------------NEW WORD FORM-------------------------------


.word-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    .userWord {
        font-size: 5rem;
        border: none;
        text-align: center;
        background: none;
        border-bottom: 1px solid rebeccapurple;
        color: rebeccapurple;
        margin-bottom: 20px;
        // font-family: 'Courgette', cursive;
        &::placeholder {
            font-size: 2rem;
            color: darkgray;
        }
    }
    .submit {
        margin: 25px;
    }
}

.x {
	position: absolute;
    right: 0;
    cursor: default;
    p {
        font-size: 1.5rem;
        margin: 10px;
        padding: 0;
        font-family: sans-serif;
    
    }
}


// ---------------------MAIN-------------------------------

// ----------sections-------------

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/unicorn.jpg');
    background-repeat: repeat;
    background-size: 100%;
}

.half-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
}

.section {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-left {
    .flip-card-f {
        background: #fdfd96;
    }
    .flip-card-b {
        background: #ffb3ba;
    }
}

.top-right {
    .flip-card-front {
        background: #bae1ff;
    }
    .flip-card-back {
        background: #d1ffe3;
    }
}

.bottom-left {
    .flip-card-front {
        background: #d1ffe3;
    }
    .flip-card-back {
        background: #bae1ff;
    }
}

.bottom-right {
    .flip-card-front {
        background: #fdfd96;
    }
    .flip-card-back {
        background: #ffb3ba;
    }
}

// flipping the sections ----------------------

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-this-card {
    transform: rotateY(180deg);
    transition: 2s;
}

.unflip-this-card {
    transition: 2s
}

.flip-card-front, .flip-card-f, .flip-card-back, .flip-card-b {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front, .flip-card-f {
    z-index: 2;
    display: flex;
    flex-direction: column; 
}

.flip-card-front {
    justify-content: center;
    align-items: center;  
}

.chosen-word {
    align-self: center;
    vertical-align: center;
}

.flip-card-back, .flip-card-b {
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    position: relative;
}

.flip-card-back {
    justify-content: center;
    align-items: center;
}

.flip-card-b {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


// FRONT OF CARDS (DEF, SYN, ANT)
h2 {
    margin: 0;
    padding: 0;
    font-size: 9rem;    
    font-family: 'Righteous', cursive;
    color: rebeccapurple;
}

.chosen-word {
    font-size: 11rem;

}

.fa-arrow-circle-right {
    font-size: 7rem;
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: #708090;
    opacity: 0.5;
    &:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
}


// BACK OF CARDS (DEF, SYN, ANT)

// word results 
.word-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        font-size: 3rem;
        padding: 5px;
        font-weight: bold;
        font-family: 'Indie Flower', cursive;
    }
    .ant-list-item, .syn-list-item, .def-list-item {
        color: rebeccapurple;
    }
}

.definition-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;   
    width: 100%;
    height: 100%;
}

.synonym-list, .antonym-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    height: 65%;
    .syn-list-item, .ant-list-item {
        text-align: center;
        &:hover {
            cursor: pointer;
            color: red;
        }
    }
    
}

// new word button -------------

.new-word-button, .submit {
    background-color: lightblue;
    color: floralwhite;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    border-radius: 50%; 
    margin: 10px;
    &:hover {
        background-color: #abccd8;
    }
}

.new-word-button {
    position: absolute;
    top: 25px;
    right: 25px;
}



// TO DO LIST ------------------------------------
// style the antonyms and synonyms so they're a shade of white, variously placed, and the cursor turns to a hand when it hovers them 





// Make an item spin ------------------------------

.new-word-button:hover {
    animation:spin 4s linear infinite;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



